/* Variablen */
:root {
    --orange: #fe7e10;
    --grau: #aaa;
    --hellgrau: #ccc;
    --white: #fff;
    --schwarz: #000;    
}

/* Allgemein */
*{
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: var(--orange);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    background-color: var(--white);    
}

header>div {
    width: 40%;
    min-width: 185px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}

img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Navigation */


nav {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

nav>a {
    width: 29%;
    min-width: 90px;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding-top: 7px;
    display: inline-block;
    background-color: var(--hellgrau);
    font-size: 1rem;
    text-decoration: none;
    color: var(--schwarz);
    font-weight: bold;
    border: 2px solid var(--grau);
}


nav>a:hover {
    background-color: var(--white);

}

.active {
    background-color: var(--white);
}

[class*="feld"] {
    background-color: var(--hellgrau);
}


.feld2 {
    width: 25%;
    text-align: right;
}

.feld3 {
    width: 20%
}

.feld4 {
    width: 30%;
}

th {
    background-color: var(--grau);
    font-size: 1rem;


}

td {
    height: 35px;
    text-align: right;

}

input {
    width: 40%;
    font-size: 0.8em;
    z-index: 40;
}

td.artikel {
    text-align: left;
    font-size: 0.8rem;

}

input {
    text-align: right;
}

.einheiten_menge {
    display: inline-block;
    width: 35px;

}

.brutto {
    font-size: 1.0rem;
    font-weight: bolder;
    
}

.button-feld {

    min-width: 335px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 130px;
    background-color: var(--hellgrau);
    border: 5px solid var(--grau);

}

.button-feld2 {
    min-width: 335px;
    position: absolute;
    background-color: var(--hellgrau);
    left: 10px;
    right: 10px;
    height: 50px;
    margin-top: 100px;
    border: 5px solid var(--grau);
    bottom: 10px;

}

.button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5%;
    height: 30px;
    width: 95%;
    background-color: var(--grau);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--schwarz);
    
    
}

#eu-ausland {
    margin-top: 10px;
    margin-left: 2.5%;
    width: 30px;
    height: 30px;
}

.button-feld>span {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}


/* Zählen */

#tabelleZaehlen {
    width: 99%;
    margin-left: auto;
    margin-right: auto;    
    position: relative;
    height: 160px;

}
#tabelleZaehlen >tbody > tr > td {
    margin-right: 15px; 
    background-color: var(--hellgrau);   
}

#tabelleZeit {
    background-color: var(--hellgrau);
    position: relative;
}


#tabelleZaehlen>tbody>tr>td>input {
    float: left;
    position: relative;
    left: 8px;
    z-index: 5;
}

#tabelleZaehlen>tbody>tr>td>span {
    right: 10px;
    font-weight: bold;
}

#ergebnis {
    position: absolute;    
    background-color: var(--grau);
    left: 3px;  
    right: 3px;  
    margin-top: 10px;    
}

#ergebnis>p {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#ergebnis>p>span {
    float: right;
}

#dif {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--hellgrau);
}

/* Zeiten */

td.first {
    width: 15%
}

.field span {
    font-size: 0.6rem;
}

.day span {
    font-weight: bold;
    font-size: 1.2rem;
}

#tabelleZeit {
    margin-left: 1%;
    width: 98%;
    background-color: var(--orange)
}

#tabelleZeit td.field {
    background-color: var(--hellgrau);
}


.field {
    text-align: left;
    width: 17%;
}


.field>input {
    width: 90%;
    padding: 0;
}
